<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission required for donations. Remove it if you don't use it -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyApp.SplashScreen"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

            <!-- TODO: Do NOT remove the intent-filter tags -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="GoogleAppIndexingDeepLinkError,GoogleAppIndexingUrlError,
                GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <!-- ADW Launcher -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Apex Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <!-- Atom Launcher -->
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME" />
            </intent-filter>
            <!-- GO Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gau.go.launcherex.theme" />
                <action android:name="com.zeroteam.zerolauncher.theme" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gau.go.launcherex.theme" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.THEME_SCENE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- LauncherPro / Holo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.fede.launcher.THEME_ICONPACK" />
            </intent-filter>
            <!-- Next Launcher -->
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.trial.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Nine Launcher -->
            <intent-filter>
                <action android:name="com.gridappsinc.launcher.theme.apk_action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Nova Launcher-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teslacoilsw.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>
            <!-- Lawnchair -->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />
                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>
            <!-- LG Home -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lge.launcher2.THEME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- OnePlus Launcher -->
            <intent-filter>
                <action android:name="net.oneplus.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Smart Launcher -->
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES" />
                <action android:name="ginlemon.smartlauncher.BUBBLESTYLE" />
                <action android:name="ginlemon.smartlauncher.BUBBLEICONS" />
                <action android:name="ginlemon.smartlauncher.CLOCKS" />
                <action android:name="ginlemon.smartlauncher.CLOCKFONTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Solo Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="home.solo.launcher.free.THEMES" />
                <action android:name="home.solo.launcher.free.ACTION_ICON" />
            </intent-filter>
            <!-- Sony Launcher -->
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- TSF Shell -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.tsf.shell.themes" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Turbo Launcher -->
            <intent-filter>
                <action android:name="com.phonemetra.turbo.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.phonemetra.turbo.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Xperia Home Launcher -->
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Random launchers -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <action android:name="mobi.bbase.ahome.THEME" />
                <action android:name="com.rogro.GDE.THEME.1" />
                <action android:name="com.android.dxtop.launcher.THEME" />

                <category android:name="com.fede.launcher.THEME_ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <action android:name="mobi.bbase.ahome.THEME" />
                <action android:name="com.rogro.GDE.THEME.1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="cdproductions.crazyicons.TWO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Theme Manager -->
            <intent-filter>
                <action android:name="com.daeva112.manager.MAIN" />

                <category android:name="com.daeva112.manager.THEME" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <!-- DO NOT REMOVE !!! -->
        <!-- Required for files access !!! -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_providers" />
        </provider>

        <!-- Muzei Service -->
        <provider
            android:name=".MuzeiService"
            android:authorities="${applicationId}.muzei"
            android:exported="true"
            android:icon="@drawable/ic_muzei_icon"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/accent" />
            <meta-data
                android:name="settingsActivity"
                android:value="dev.jahir.kuper.ui.activities.KuperMuzeiSettingsActivity" />
        </provider>

        <!-- TODO: Remove comment marks to enable Kustom Skins
        * Remove intent-filter action lines according to your needs.
		* If you're not going to provide one of the options, remove its respective line.
        <provider
                android:name="org.kustom.api.Provider"
                android:authorities="${applicationId}.kustom.provider"
                android:exported="true"
                tools:ignore="ExportedContentProvider">
            <intent-filter>
                <action android:name="org.kustom.provider.WALLPAPERS"/>
                <action android:name="org.kustom.provider.WIDGETS"/>
                <action android:name="org.kustom.provider.KOMPONENTS"/>
                <action android:name="org.kustom.provider.LOCKSCREENS"/>
            </intent-filter>
        </provider>
        -->

        <!-- OneSignal Notifications Service -->
        <!-- TODO: Remove comment marks to enable
        <meta-data android:name="com.onesignal.NotificationServiceExtension"
               android:value="${applicationId}.NotificationServiceExtension" />
        -->
    </application>
</manifest>
